.chat-main
  .chat-main__group-info
    .chat-main__group-info__box
      .chat-main__group-info__box__name
        =@group.name
      .chat-main__group-info__box__member
        Member： 
        %ul
          - @group.users.each do |user|
            %li
            &nbsp
            = user.name
    .chat-main__group-info__btn
      = link_to "Edit", edit_group_path(@group)
  .messages
    = render @messages
  
  .chat-main__form
    = form_for [@group, @message] do |f|
      .form
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'
